* {
    background-color: coral;
}

h1 {
    background-color: aqua;
    font-size: 100px;
}

p {
    font-size: 200px;
}

.style1 {
    background-color: beige;
    font-size: 40;
}

#classb {
    background-color: aquamarine;
    font-size: 20;
}